{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
	<title>Forgot Password</title>
</head>

<body class="sub_page">
	{% if message %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<strong>{{message}}</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}
	<section class="contact_section layout_padding">
		<div class="container">
			<div class="heading_container">
				<h2>
					Verify OTP
				</h2>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form_container ">
						<form method="post" action="{% url 'verify' %}">
							{% csrf_token %}
							<div>
								<input value="{{otp}}" type="hidden" name="otp">
							</div>
							<div>
								<input value="{{email}}" type="hidden" name="email">
							</div>
							<div>
								<input type="email" value="{{email}}" placeholder="Email" readonly />
							</div>
							<div>
								<input placeholder="Enter OTP" type="text" name="uotp">
							</div>
							<div class="btn_box">
								<button type="submit">
									Verify
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>
{% endblock %}